<h1 (mouseenter)="cambiarVariable1()">Ejemplo de directivas</h1>
<h2></h2>
<h3 [ngClass]="variable1 ? 'texto-exito' : 'texto-error'">Valor de la variable {{ variable1 }}</h3>
<hr>
<h2>Directiva ngStyle</h2>
<h3 [style.border]="variable2 == 'Federico' ? '1px solid black' :  variable2 == 'Federic' ? '2px solid blue' : '3px solid red'" >Ejemplo de ngStyle con el valor {{ variable2 }}</h3>

<hr>
<h2>Directiva personalizada</h2>
<h3 appDirectivaPersonalizada>Ejemplo de Directiva personalizada</h3>

<hr>
<h2>Ejemplo de ngFor</h2>
<ul>
    <li *ngFor="let item of arreglo">{{ item }}</li>
</ul>

<hr>
<h2>Ejemplo de ngIf y ngSwitch</h2>
<p *ngIf="variable1 > 5">
    El valor {{variable1}} se está mostrando.
</p>

<p [ngSwitch]="variable2">
    <span *ngSwitchCase="'Test'">Caso 1 para {{variable2}}</span>
    <span *ngSwitchCase="'Federic'">Caso 2 para {{variable2}}</span>
    <span *ngSwitchDefault>Caso default para {{variable2}}</span>    
</p>

<input type="text" placeholder="Ingresar valor variable 1" [(ngModel)]="variable1">
<button (click)="cambiarVariable1()">Cambiar Variable 1</button>

<h3>{{ familiares | json }</h3>
<h3>{{ ahora | date:'dd/MM/yyyy HH:mm:ss' }}</h3>
