  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>  

<!-- ======= Header ======= -->
<div class="menu">
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/perfil.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Federico Salas</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.federicomsalas.com.ar" class="linkedin"><i class="bx bx-world"></i></a>
		  <a href="https://github.com/federicomsalas" class="github"><i class="bx bxl-github"></i></a>          
		  <a href="https://www.linkedin.com/in/federicomsalas" class="linkedin"><i class="bx bxl-linkedin"></i></a>		 	 		 
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Personal</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>CV</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
</div>