
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Entregable APIREst</h2>
          <h3>Se actualiza aplicación para responder al entregable de APIRest con las siguientes funcionalidades:</h3>
          <h3>- Login de usuario administrador o usuario común</h3>
          <h3>- Utilización de APIs en MockApi para gestionar alumnos, cursos e inscripciones</h3>
          <h3>- LazyLoading</h3>          
          <h3>- Guards para la navegación: solo se permite navegar a usuarios autenticados y el menú de cursos solo está disponible para usuarios Administrador.</h3>
        </div>
        <br>
      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->    
