
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Proyecto Final Angular - Salas Federico</h2>
          <h3>Creación de un proyecto frontend basado en Angular para gestionar los asistentes a una serie de Cursos.</h3>
          <h3>A continuación, se enumeran algunos de los conceptos implementados en el proyecto los cuales fueron parte del contenido de la cátedra: </h3>
          <h3>- Redux NgRx: Se aplicó el  patrón de diseño en Alumnos y Cursos (Feature Store y Effects).</h3>          
          <h3>- Guards: listado de Usuarios solo disponible para administradores.</h3>
          <h3>- Test unitarios: Aplicado al componente Cursos.</h3>
          <h3>- API: Consumo a través de mockAPI.</h3>

        </div>
        <br>
      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->    
