
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Lista de Usuarios</h2>
          <h3>Nota: No se permite borrar usuarios para no quedar sin usuarios administradores.</h3>
        </div>
        <br>

        <div mat-dialog-actions style="display:block; text-align:right">
            <button mat-raised-button color="primary" (click)="agregarUsuario()"><mat-icon>add</mat-icon> Nuevo usuario</button>           
        </div>        

        <br>
        
        <table mat-table [dataSource]="usuarios$"   class="mat-elevation-z8" style="width:100%">
            <ng-container matColumnDef="usuario">
              <th appTitulos mat-header-cell *matHeaderCellDef  width="20%" >Usuario</th>
               <td mat-cell *matCellDef="let element">{{ element.usuario  }}</td>
             </ng-container>  
      
      
             <ng-container matColumnDef="contrasena">
              <th appTitulos mat-header-cell *matHeaderCellDef  width="20%">Contraseña</th>
              <td mat-cell *matCellDef="let element">{{ element.contrasena }}</td>
             </ng-container>   

             <ng-container matColumnDef="admin">
              <th style="text-align: center" appTitulos mat-header-cell *matHeaderCellDef  width="10%">Admin</th>
              <td style="text-align: center" mat-cell *matCellDef="let element">{{ element.admin | admin }}</td>
             </ng-container>   

             <ng-container matColumnDef="nombre">
                <th  appTitulos mat-header-cell *matHeaderCellDef  width="20%">Nombre</th>
                <td  mat-cell *matCellDef="let element">{{ element.nombre }}</td>
               </ng-container>   
               
               <ng-container matColumnDef="apellido">
                <th  appTitulos mat-header-cell *matHeaderCellDef  width="20%">Apellido</th>
                <td  mat-cell *matCellDef="let element">{{ element.apellido }}</td>
               </ng-container>                  
    
             <ng-container matColumnDef="acciones">
              <th appTitulos mat-header-cell *matHeaderCellDef  width="10%">Acciones</th>
              <td mat-cell *matCellDef="let element">
                  <button mat-button  color="primary" (click)="editar(element)"><mat-icon>edit</mat-icon></button>                  
              </td>
             </ng-container>               
      
             <tr mat-header-row *matHeaderRowDef="columnas"></tr>    
             <tr mat-row *matRowDef="let row; columns: columnas"> </tr>    
      </table>        


      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->    
