<h1 mat-dialog-title>{{ data.modo }} de alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">

    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellido" [readonly]="usuario.admin == 0" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.errors?.['required']">Este campo es obligatorio</p>

        </div>

        <div class="col-sm-6">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" [readonly]="usuario.admin == 0" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.errors?.['required']">Este campo es obligatorio</p>
        </div>        

    </div>

    <div class="row">
        
        <div class="col-sm-12">
            <mat-form-field appearance="fill"  style="width: 100%">
                <mat-label>E-mail</mat-label>
                <input formControlName="mail" [readonly]="usuario.admin == 0" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('mail')?.touched && formulario.get('mail')?.errors?.['required']">Este campo es obligatorio</p>
            <p *ngIf="formulario.get('mail')?.touched && formulario.get('mail')?.errors?.['email']">Formato de E-Mail inválido</p>
        </div>        

    </div>    

    <div class="row">
        
        <div class="col-sm-6">
            <mat-form-field appearance="fill">
                <mat-label>Edad</mat-label>
                <input formControlName="edad" [readonly]="usuario.admin == 0" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('edad')?.touched && formulario.get('edad')?.errors?.['required']">Este campo es obligatorio</p>
            <p *ngIf="formulario.get('edad')?.touched && formulario.get('edad')?.errors?.['min']">Debe ser mayor a cero</p>            
            <p *ngIf="formulario.get('edad')?.touched && formulario.get('edad')?.errors?.['pattern']">Ingresar sólo números</p>            
        </div>

        <div class="col-sm-6">
        <mat-form-field appearance="fill">
            <mat-label>Género</mat-label>            
            <mat-select matNativeControl  formControlName="genero">
                <mat-option value="0">Mujer</mat-option>
                <mat-option value="1">Hombre</mat-option>
                <mat-option value="2">Otro</mat-option>
              </mat-select>          
        </mat-form-field>
        <p *ngIf="formulario.get('genero')?.touched && formulario.get('genero')?.errors?.['required']">Este campo es obligatorio</p>
    </div>
    

    </div>        
    </form>
</div>
<div mat-dialog-actions style="display:block; text-align:right">
    <button mat-raised-button color="primary" *ngIf="usuario.admin > 0" [disabled]="!formulario.valid" (click)="actualizar()">Guardar datos</button>        
    <button mat-raised-button color="warn"  *ngIf="data.modo == 'Alta'" (click)="cerrar()">Cerrar</button>    
</div>


<div *ngIf="data.modo != 'Alta'">

    
    <hr>

    <h3>Inscripciones del alumno: {{ cantidadRegistros  }}</h3>
    <ng-container *ngIf=cantidadRegistros>
    <table mat-table [dataSource]="inscripciones$"  class="mat-elevation-z8" style="width:100%" #loading>

        <ng-container matColumnDef="descripcion">
        <th appTitulos mat-header-cell *matHeaderCellDef  width="90%">Curso</th>
        <td mat-cell *matCellDef="let element">{{ element.curso.descripcion }}</td>
        </ng-container>   

        <ng-container  *ngIf="usuario.admin > 0" matColumnDef="acciones">
        <th appTitulos mat-header-cell *matHeaderCellDef  width="10%">Acciones</th>
        <td mat-cell *matCellDef="let element">                  
            <button mat-button color="warn" (click)="eliminar(element)"><mat-icon>delete</mat-icon></button>
        </td>
        </ng-container>               

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>    
        <tr mat-row *matRowDef="let row; columns: columnas"> </tr>    
    </table>  
    </ng-container>
<br>
    <div mat-dialog-actions style="display:block; text-align:right">
        <button mat-raised-button color="primary" *ngIf="usuario.admin > 0" (click)="inscribir()">Inscribirse</button>
        <button mat-raised-button color="warn"  (click)="cerrar()">Cerrar</button>    
    </div>
</div>