<h1 mat-dialog-title>{{ data.modo }} de curso</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">

    <div class="row">

        <div class="col-sm-12">
            <mat-form-field appearance="fill" style="width:100%">
                <mat-label>Usuario</mat-label>
                <input formControlName="usuario" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('usuario')?.touched && formulario.get('usuario')?.errors?.['required']">Este campo es obligatorio</p>
        </div>        

    </div>

    <div class="row">
        
        <div class="col-sm-6">
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input formControlName="contrasena" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('contrasena')?.touched && formulario.get('contrasena')?.errors?.['required']">Este campo es obligatorio</p>
        </div>  

        <div class="col-sm-3">
            <mat-form-field appearance="fill">
                <mat-label>Admin</mat-label>
                <mat-select matNativeControl formControlName="admin">
                    <mat-option value="0">No</mat-option>
                    <mat-option value="1">Sí</mat-option>                    
                  </mat-select> 
            </mat-form-field>

            <p *ngIf="formulario.get('admin')?.touched && formulario.get('admin')?.errors?.['required']">Este campo es obligatorio</p>
        </div>       

    </div>    

    <div class="row">
        
        <div class="col-sm-6">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.errors?.['required']">Este campo es obligatorio</p>
        </div>  

        <div class="col-sm-3">
            <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellido" matInput>
            </mat-form-field>
            <p *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.errors?.['required']">Este campo es obligatorio</p>
        </div>       

    </div>    

     
    </form>
</div>
<div mat-dialog-actions style="display:block; text-align:right">
    <button mat-raised-button color="primary" [disabled]="!formulario.valid" (click)="actualizar()">Aceptar</button>
    <button mat-raised-button color="warn"  (click)="cerrar()">Cerrar</button>    
</div>
