<div class="container">
    <h2>Federico Salas - Programación Reactiva</h2>
    <hr>            
      <h3>Consideraciones:</h3>
      <p>- La tabla se <b>auto-genera</b> cada 10 segundos a través del Observable de Alumnos.</p>
      <p>- El Promise está realizado con el botón "Obtener Promise" que obtendrá el mejor promedio del listado que se esté mostrando en ese momento. 
        Si el listado cambia, el valor no se actualiza, requiere que se apriete nuevamente el botón. </p>
      <p>- Se aplica el filtro <b>Map</b> permitiendo <b>digitar</b> el valor que se quiere obtener como puntuación promedio mínima. Como el Map se procesa a en el Pipe del Observable, recién se aplica cuando se termina
        el tiempo de los 10 segundos y se vuelve a pedir al Observable los nuevos datos de otros alumnos aleatorios.
      </p>
      <p>- Para siempre mostrar el total de Alumnos no filtrados, se utilizó Tap previamente al Map.</p>
      <p>- Por último, para la destrucción y unsuscribe, dado que no se tenía aplicado el concepto de Routing, se puede ocultar y mostrar el componente con el botón naranja en la parte superior del sitio. </p>
    <hr>
  

<div class="row">


   <div class="col-sm-4 form-group">
    <div id="kpi" style="width:100%; height: 150px; padding:5px; margin: 0 auto;border-style: solid;border-radius:20px;border-color:#CCCCCC;border-width:1px;">		
     <h2 class="titulo-kpi" >Próxima recarga en</h2>
     <p style="text-align:center;margin-top:-20px;font-size:60px;color:red;font-weight:bold;">{{ recargaSubject |  async }}</p>	
     <h3 style="text-align:center;margin-top:-60px;">Async</h3>
    </div>
 </div> 
   

   <div class="col-sm-4 form-group">
    <div id="kpi" style="width:100%; height: 150px; padding:5px; margin: 0 auto;border-style: solid;border-radius:20px;border-color:#CCCCCC;border-width:1px;">		
     <h2 class="titulo-kpi" >Iteraciones</h2>
     <p style="text-align:center;margin-top:-20px;font-size:60px;color:#285096;font-weight:bold;">{{ cantidadRepeticiones$ |  async }}</p>	
     <h3 style="text-align:center;margin-top:-60px;">Async</h3>
    </div>
 </div> 

 <div class="col-sm-4 form-group">
  <div id="kpi" style="width:100%; height: 150px; padding:5px; margin: 0 auto;border-style: solid;border-radius:20px;border-color:#CCCCCC;border-width:1px;">		
   <h2  class="titulo-kpi" >Mejor promedio</h2>
   <p style="text-align:center;margin-top:-20px;font-size:60px;color:#285096;font-weight:bold;">{{ valorPromedio  }}</p>	   
   <div style="text-align: center;">
   <button type="button" class="btn btn-primary"  style="margin-top:-130px;" (click)="obtenerPromisePromedios()" >Obtener Promise</button>    
  </div>
  </div>
</div> 

</div> 


<h3>Filtrar promedios</h3>
<div class="row">


  <div class="col-sm-4 form-group">
   <div id="kpi" style="width:100%; height: 150px; padding:5px; margin: 0 auto;border-style: solid;border-radius:20px;border-color:#CCCCCC;border-width:1px;">		
    <h2 class="titulo-kpi" >Promedios mayor a</h2>
    <div style="width:100%;text-align:center">
    <input type="number" style="text-align:center;height:60px;font-size:60px;color:red;font-weight:bold;margin:auto;width:50%" class="form-control" [(ngModel)]="filtrar">  
    <h3 style="text-align:center;margin-top:7px;">Map</h3>
  </div>
   </div>
</div> 
  

  <div class="col-sm-4 form-group">
   <div id="kpi" style="width:100%; height: 150px; padding:5px; margin: 0 auto;border-style: solid;border-radius:20px;border-color:#CCCCCC;border-width:1px;">		
    <h2 class="titulo-kpi" >Total de alumnos</h2>
    <p style="text-align:center;margin-top:-20px;font-size:60px;color:#285096;font-weight:bold;">{{  totalAlumnos  }}</p>	
    <h3 style="text-align:center;margin-top:-60px;">Tap</h3>
   </div>
</div> 

<div class="col-sm-4 form-group">
 <div id="kpi" style="width:100%; height: 150px; padding:5px; margin: 0 auto;border-style: solid;border-radius:20px;border-color:#CCCCCC;border-width:1px;">		
  <h2 class="titulo-kpi">Filtrados</h2>
  <p style="text-align:center;margin-top:-20px;font-size:60px;color:#285096;font-weight:bold;">{{ this.alumnos.length  }}</p>	   
  <h3 style="text-align:center;margin-top:-60px;">Map</h3>
 </div>
</div> 

</div> 
  

     <ul *ngIf="this.alumnos ? this.alumnos.length > 0 : ''"  class="responsive-table">
      <li class="table-header">
        <div class="col col-1">#</div>
        <div class="col col-2">Nombre y Apellido</div>
        <div class="col col-3">Suma de notas</div>
        <div class="col col-4">Cant. Exámenes</div>            
        <div class="col col-5">Promedio</div>            
      </li>
      <li class="table-row" [ngClass]="mejorPromedio(alumno) ? alumno.seleccionado ? 'mejorPromedio seleccionado' : 'mejorPromedio' : alumno.seleccionado ? 'seleccionado' : ''"                                                                   
                            [ngStyle]="{'background':getColor(alumno)}"
                            (click)="seleccionar(alumno)" 
                            *ngFor="let alumno of alumnos">
        <div class="ribbon" *ngIf="mejorPromedio(alumno)">TOP</div>        
        <div class="col col-1" data-label="Posición">{{ alumno.posicion}} </div>
        <div class="col col-2" data-label="Nombre y apellido">{{ alumno.apellido + ', ' + alumno.nombre}} </div>
        <div class="col col-3" data-label="Suma de notas">{{ alumno.puntaje}} </div>
        <div class="col col-4" data-label="Cant. Exámenes">{{ alumno.examenes }}   </div>
        <div class="col col-5" data-label="Promedio">{{ alumno.puntaje / alumno.examenes | number: '0.2-2' }}     </div>
      </li>    
    </ul> 


  </div>


