
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Proyecto Final</h2>
          <h3>Este sitio fue creado para completar los entregables del trabajo final en el curso de Angular, cátedra 32310 de las academias Coderhouse.</h3>
          <h3>En esta entrega, se agregaron los ruteos y los ABM de Cursos e Inscripciones al que ya existía de Alumnos.</h3>
          <h3>Además se realizó la modularización del Proyecto según lo abordado en clases y para cumplir con los requerimientos de este entregable 2PF.</h3>
          <h3>Recordar: dado que no existe conexión a APIs o servicios para guardar la información, se utiliza <b>localStorage</b> para guardar los alumnos creados en cada sesión de usuario.</h3>
        </div>
        <br>
      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->    
