
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Entregable 3PFSalas</h2>
          <h3>Se actualiza aplicación para responder al entregable de 3PFSalas con las siguientes funcionalidades:</h3>
          <h3>- Se agregaron 2 test unitarios para CursoService y CursosComponent</h3>
          <h3>- Guards: se agregó listado de usuarios solo disponible para administradores.</h3>
        </div>
        <br>
      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->    
