#main {
    margin-left: 300px;  
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  }
  


  td, th {
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-bottom-width:0 !important;
    
  }

   th {
    background-color: #945cb4;
    color: white;

  }  

  tr:nth-child(even) td {
    background-color: #4ebcff;    
  }


table tbody {
  background-image: linear-gradient(#001d4f, #4ebcff) !important; 
  color: white;
 }

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("/assets/img/fondo.jpg") top center;
    background-size: cover;
    background-color:#000;
    
  }
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  

  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 80px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .about .content ul strong {
    margin-right: 10px;
  }
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Facts
  --------------------------------------------------------------*/
  .facts {
    padding-bottom: 30px;
  }
  .facts .count-box {
    padding: 30px;
    width: 100%;
  }
  .facts .count-box i {
    display: block;
    font-size: 44px;
    color: #149ddd;
    float: left;
    line-height: 0;
  }
  .facts .count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #050d18;
    margin-left: 60px;
  }
  .facts .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #122f57;
  }
  .facts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #122f57;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
  }
  .facts .count-box a:hover {
    color: #1f5297;
  }
  
  
  /*--------------------------------------------------------------
  # Akills
  --------------------------------------------------------------*/
  .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
  }
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .skills .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
  }
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #149ddd;
  }
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .resume .resume-item ul {
    padding-left: 20px;
  }
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }
  