
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<main id="main">
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Lista de Alumnos</h2>
          <h3>Este sitio fue creado para completar el primer entregable del trabajo final en el curso de Angular, cátedra 32310 de las academias Coderhouse.</h3>
          <h3>En esta entrega, solo se tiene una lista de alumnos y su gestión de los mismos (ABM)</h3>
          <h3>Nota: dado que no existe conexión a APIs o servicios para guardar la información, se utiliza <b>localStorage</b> para guardar los alumnos creados en cada sesión de usuario.</h3>
        </div>
        <br>

        <div mat-dialog-actions style="display:block; text-align:right">
          <button mat-raised-button color="primary" (click)="agregarAlumno()"><mat-icon>add</mat-icon> Nuevo alumno</button>
        </div>        

        <br>
        <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource"   class="mat-elevation-z8" style="width:100%">
            <ng-container matColumnDef="nombre">
              <th appTitulos mat-header-cell *matHeaderCellDef >Apellido y Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element | concatenar }}</td>
             </ng-container>  
      
      
             <ng-container matColumnDef="mail">
              <th appTitulos mat-header-cell *matHeaderCellDef>E-Mail</th>
              <td mat-cell *matCellDef="let element">{{ element.mail }}</td>
             </ng-container>   

             <ng-container matColumnDef="edad">
              <th style="text-align: right" appTitulos mat-header-cell *matHeaderCellDef>Edad</th>
              <td style="text-align: right" mat-cell *matCellDef="let element">{{ element.edad }}</td>
             </ng-container>   
      
      
             
             <ng-container matColumnDef="genero">
              <th style="text-align: center;" appTitulos mat-header-cell *matHeaderCellDef>Género</th>
              <td style="text-align: center;" mat-cell *matCellDef="let element"><mat-icon>{{ element.genero | genero }}</mat-icon></td>
             </ng-container>             
      
             <ng-container matColumnDef="acciones">
              <th appTitulos mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                  <button mat-button  color="primary" (click)="editar(element)"><mat-icon>edit</mat-icon></button>
                  <button mat-button color="warn" (click)="eliminar(element)"><mat-icon>delete</mat-icon></button>
              </td>
             </ng-container>  
      
             <tr mat-header-row *matHeaderRowDef="columnas"></tr>    
             <tr mat-row *matRowDef="let row; columns: columnas"> </tr>    
      </table>        


      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->    
